* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.task-title {
  font-size: xx-large;
  text-decoration: none;
  color: black;
}

.lists-wrapper {
  padding: 10px;
  display: flex;
  flex-direction: row;
}

.add-task {
  display: flex;
  justify-items: flex-start;
  padding: 10px;
}

.add-task Button {
  margin-left: 10px;
}

.add-task input {
  margin-left: 10px;
}
